html, body{
	padding: 0px;
	margin: 0px;
	background-color: #E4BE5B;

	/*padding is inside, margin is seperation of this element and other elements*/
}

header {
	background-color: #793F31;
	margin: 0px;
}

#banner {
	width: 852px;/*1280*/
	height: 480px;/*720*/
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#queryInput {
	background-color: #793F31;
	margin: 0px;
	padding: 20px; /*I have no idea why but without this theres a random white divide */
}

#queryInput *{
	text-align: center;
}

#queryHeader {
	color: #E4BE5B;
}

#inputBox {
	color: #793F31;
	width: 350px;
}

#queryForm *{/*hiding the text input, button, and the bard gif. */
	display: none;
	height: 50px;
}

#bardAnim {
	height: 60px;/*rewriting the height because the gif is a little bigger */
	width: 60px;
}


